<!doctype html>
<html>
 <head>

 </head>
 <body>

   <div>


     <p>Puppy Name: <%= @name %></p>
     <p>Puppy Breed: <%= @breed%></p>
     <p>Puppy Age: <%= @age %> </p>



   </div>

 </body>
</html>
